# 1.3 Python Introduction

The materials of this notebook are heavily based on the Datacamp "Introduction to Python for Data Science" course. Check the course [here](app.datacamp.com/learn/courses/intro-to-python-for-data-science).

Python is a general-purpose programming language that is becoming ever more popular for data science. Companies worldwide are using Python to harvest insights from their data and gain a competitive edge. This notebook will focus particularly on an introduction to Python from a data science perspective. You will get to see powerful ways to store and manipulate data and learn about helpful tools to begin conducting your own analyses.

Python
- general purpose (build anything; swiss army knife)
- open source (free)
- Python ecosystem (packages for data science; community; easy to build new packages)

## Calculations

In [3]:
# Addition (hashtag indicates a comment)
print(1 + 2)

# Subtraction
print(2 - 1)

# Multiplication, division, modulo and exponentiation
print(3 * 5)
print(10 / 2)
print(18 % 7)
print(4 ** 2)

3

In [ ]:
### TO DO ###
'''
Suppose you have $100 which you can invest with a 10% return each year.
Add code to calculate how much money you end up with after 7 years and print the result
'''

## Variables and Types

- Save values and call them up later
- Specific, case-sensitive name

In [5]:
height = 1.79
weight = 68.7
bmi = weight / height ** 2
print(bmi)

21.44127836209856

In [6]:
# Floats
type(bmi)

float

In [12]:
# Integers
day_of_week = 5
print(type(day_of_week))
print(2 + 3)

<class 'int'>
5

In [13]:
# Strings
x = "body mass index"
y = "abc"
print(type(x))
print(x + y) # operator action depends on data type

<class 'str'>
body mass indexabc

In [11]:
# Booleans
z = True
type(z)

bool

In [23]:
# Type conversion
print("The body mass index is " + str(bmi) + "!")

pi_string = "3.1415926"
pi_float = float(pi_string)
pi_int = int(pi_float)
pi_bool = bool(pi_int)
print(pi_string)
print(pi_float)
print(pi_int)
print(pi_bool)

The body mass index is 21.44127836209856!
3.1415926
3.1415926
3
True

In [24]:
print("I can add integers, like " + str(5) + " to strings.")

I can add integers, like 5 to strings.

In [26]:
print("I said " + ("Hey " * 2) + "Hey!")

I said Hey Hey Hey!

In [28]:
print("Can I add an integer like this to a string " + 5)

TypeError: can only concatenate str (not "int") to str

In [30]:
print(True + False + True)

2

In [ ]:
### TO DO ###
'''
Create a variable called "savings" with the value 100 and print it.
Create a variable called "growth_multiplier" with the value 1.1.
Create a variable result to store the result of the calculation that you did in the previous to do.
Print out the result.
Create a new string called "desc" with the value "compound interest".
Create a new boolean called "profitable" with the value True.
Print out the type of the savings and growth_multiplier variables.
'''

## Lists

- Work with many data points -> store in list
- Give a single name to collection of values
- Mixed data types possible (even nested lists)
- List is a data type with specific functionality and behavior

In [37]:
fam = [1.73, 1.68, 1.71, 1.89]

In [32]:
fam2 = [["liz", 1.73],
        ["emma", 1.68],
        ["mom", 1.71],
        ["dad", 1.89]]

In [ ]:
print(type(fam))

In [ ]:
print(type(fam2))

In [ ]:
### TO DO ###
'''
Create a list called "areas" and store the area size of the following rooms in it
in this order: hallway, kitchen, living room, bedroom, bathroom.
Print the list.
Now create a list with mixed data types by adding the room name as string before the
area sizes respectively.
Next create a list of lists with each room name and area size in a seperate list.
'''

In [42]:
# Subsetting lists
print(fam[0]) # 0-indexing
print(fam[-1])

# List slicing
print(fam[1:3]) # start is inclusive, end is exclusive
print(fam[:3])
print(fam[2:])

1.73
1.89
[1.68, 1.71]
[1.73, 1.68, 1.71]
[1.71, 1.89]

In [ ]:
### TO DO ###
'''
Print out the area of the living room from the mixed data type list.
Using a combination of list subsetting and variable assignment, create a new variable called eat_sleep_area
that contains the sum of the area of the kitchen and the area of the bedroom.
Use slicing to create a list called downstairs that contains the first 6 elements of areas.
Simplify slicing by omitting the begin index.
Print this list.
Subset list of lists by retrieving just the area of the kitchen of the nested list.
'''

In [43]:
# Manipulating lists
# Change list elements
fam2[7] = 1.87
fam2[0:2] = ["liz", 1.72]

# Add list elements
fam_ext = fam2 + ["me", 1.79]

# Remove list elements
del(fam2[2])
print(fam2)

IndexError: list assignment index out of range

In [46]:
# Behind the scenes
x = ["a", "b", "c"]
y = x # copy reference to list, not actual values; in terms of computer memory it is the same
y[1] = "z"
print(y)
print(x)

x = ["a", "b", "c"]
y = list(x)
y = x[:]
y[1] = "z"
print(y)
print(x)

['a', 'z', 'c']
['a', 'z', 'c']
['a', 'z', 'c']
['a', 'b', 'c']

In [ ]:
## TO DO ##
'''
Update the area of the bathroom in your list to be 10.50 m².
Change "living room" to "chill zone".
Add a poolhouse and garage to your list and store the resulting list as areas_new.
Delete the poolhouse and corresponding area from the list areas_new.
'''

## Functions

- Noting new, e.g. type()
- Piece of reusable code
- Solves particular task
- Leverage functions instead of writing custom code

In [48]:
tallest = max(fam) # logic is abstracted
print(tallest)

1.89

In [50]:
print(round(1.68, 1))
print(round(1.68)) # default arguments

1.7
2

In [51]:
help(round)

Help on built-in function round in module builtins:

round(number, ndigits=None)
    Round a number to a given precision in decimal digits.

    The return value is an integer if ndigits is omitted or None.  Otherwise
    the return value has the same type as the number.  ndigits may be negative.

In [ ]:
# Find functions
- standard task -> function probably exists
- internet is your friend

In [ ]:
## TO DO ##
'''
Print the length of the fam list.
Find out what the function pow() is doing.
Find out how the function sorted() works.
Reverse the number list defined below and print the result.
'''
numbers = [11.25, 18.0, 20.0, 25.0]

## Methods